<!--
     Page header
-->
<busy-indicator></busy-indicator>
<div class="container-fluid alma-blue">
    <div class="row">

        <!-- Home tab -->
        <a id="home-tab" class="tab-head">
            <img class="alma-logo" src='assets/img/alma-logo.jpg' alt="">
            &nbsp;
            <strong>Angular/Spring Boot Seed Project</strong>&nbsp;
            &nbsp;
            <span class="alma-sw-version"> {{version}} </span>
        </a>

        <!-- Filler, pushes the next items to the right -->
        <span class="flex-md-fill"></span>

    </div>
</div>

<div style="padding-bottom: 5px"></div> <!-- Invisible spacer -->
